################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Arcanoid/.vs/Arcanoid/v16/Browse.VC.opendb
